{% extends "layouts/layout.html"%}
{% load static %}


{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
</head>
<h1>{{ title }}</h1>
{{registro_form.errors}}
{% if messages %} <!-- comprueba si hay mensajes flash -->
    <ul>
    {% for message in messages %}
        <li class="message-warning">{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="username">Usuario :</label>
    <input type="text" name="username" placeholder="Usuario" required>
    <label for="password">Password :</label>
    <input type="text" name="password" placeholder="password" required>
    <button type="submit">Iniciar Sesion</button>
</form>
{% endblock %}
