{% extends "layouts/layout.html"%}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/articulo.css' %}">
{% endblock %}
{% block title %}
    {{article.name}}
{% endblock %}

{% block content %}
    <div class="articulo">
        <H1 class= "title">{{article.name}}</H1>
        <div class="articulo">
            <h2> {{article.content|safe}}</h2>
            {% if article.image != 'null' and article.image.url|length >= 1 %}
                <img src="{{ article.image.url }}" alt="Imagen de artículo">
            {% else %}
                <p>No hay imagen disponible.</p>
            {% endif %}
        </div>
    </div>

    <p>&copy;{{article.user}} {{ article.created_at|date:"Y, d" }}</p>
{% endblock %}