.ultimo-articulo {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;  /* Reducir a la mitad del tamaño original (800px) */
    margin-right: 0;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0; /* Eliminar margen inferior */
    align-self: flex-start; /* Alinea este elemento específico a la izquierda */
}
.ultimo-articulo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ultimo-articulo h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.ultimo-articulo h1 {
    font-size: 2em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.ultimo-articulo h1:nth-child(2) {
    font-size: 1.8em;
    font-weight: 500;
    color: #555;
    text-align: center;
    margin-top: 5px;
}

.ultimo-articulo img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.ultimo-articulo img:hover {
    transform: scale(1.05);
}

.ultimo-articulo h1:last-child {
    font-size: 1.4em;
    font-weight: 400;
    color: #777;
    text-align: center;
    margin-top: 15px;
}

@media (max-width: 768px) {
    .ultimo-articulo {
        max-width: 70%; /* Que ocupe el 90% del ancho de la pantalla */
        padding: 10px; /* Reducir el padding */
        font-size: 10px; /* Ajustar el tamaño de la fuente */
    }
    
    .ultimo-articulo h1 {
        font-size: 1.0em; /* Reducir el tamaño del título principal */
    }
    
    .ultimo-articulo h1:nth-child(2) {
        font-size: 1.0em; /* Ajustar subtítulos */
    }
    
    .ultimo-articulo h1:last-child {
        font-size: 1.0em; /* Ajustar el último título */
    }
    
    .ultimo-articulo h3 {
        font-size: 1.0em; /* Ajustar el tamaño del encabezado */
    }
    
    .ultimo-articulo img {
        margin: 15px auto; /* Ajustar el margen de la imagen */
    }
}