{% extends "layouts/layout.html"%}

{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    {% if messages %} <!-- comprueba si hay mensajes flash -->
        <ul>
        {% for message in messages %}
            <li class="message">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated %}
        {% if request.user.email and request.user.first_name %}
            <h2>Bienvenido, {{ request.user.first_name }}</h2>
            <a href="mailto:{{ request.user.email }}">correo</a>
        {% else %}
            <h1> datos no encontrados </h1>
        {% endif %}
        <H1>{{title}}</H1>
    {% else %}
        <h1> aun no has iniciado sesion </h1>
        <a href="{% url 'login' %}">inicia sesion aqui</a>

    {% endif %}

    {% endblock %}