{% extends "layouts/layout.html"%}

{% load static %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <H1>{{title}}</H1>
    {% if messages %} <!-- comprueba si hay mensajes flash -->
        <ul>
        {% for message in messages %}
            <li class="message">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if request.user.email and request.user.first_name %}
        <h2>Bienvenido, {{ request.user.first_name }}</h2>
        <a href="mailto:{{ request.user.email }}">correo</a>
    {% else %}
        <a href="{% url 'login' %}">Inicia sesión</a>
    {% endif %}

    {% endblock %}